#backend

fastapi
uvicorn
sqlalchemy
pydantic
email-validator
passlib[bcrypt]
bcrypt==4.0.1
psycopg2-binary
python-jose
python-multipart
dotenv
fastapi-mail
psycopg2-binary


#llm

langchain
langgraph
langchain_groq

#scheduling

apscheduler


#frontend

gradio


botbuilder-core
botbuilder-schema 
aiohttp

#for ngrok
pyngrok